<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start Contact -->
<div class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <form id="contactForm" (ngSubmit)="contact(contactForm)"> -->
                <form id="contactForm" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your Name"  required   data-error="Please enter your name">
                                <div  class="help-block with-errors text-danger" *ngIf="form.get('name').hasError('required')">
                                    Name is required.
                                </div>
                                <div class="help-block with-errors text-danger" *ngIf="(form.get('name').touched || form.get('name').dirty) && !form.get('name').valid">
                                       Name must start with an uppercase letter, followed by lowercase letters.It must have at least 2 characters
                                </div>
                            </div>                                 
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" id="email" class="form-control" formControlName="email"  required data-error="Please enter your email">
                                <div  class="help-block with-errors text-danger" *ngIf="form.get('email').hasError('required')">
                                    Email is required.
                                </div>
                                <div class="help-block with-errors text-danger" *ngIf="(form.get('email').touched || form.get('email').dirty) && !form.get('email').valid">Email must have all lowercase characters, numbers or some special characters like dot or dash. It must have '@' sign.</div>
                            </div> 
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject">
                            </div>                                 
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"> 
                                <textarea class="form-control" formControlName="message" id="message" placeholder="Your Message" rows="4" data-error="Write your message"  required ></textarea>
                                <div  class="help-block with-errors text-danger" *ngIf="form.get('message').hasError('required')">
                                    Message is required.
                                </div>
                                <div class="help-block with-errors text-danger" *ngIf="(form.get('message').touched || form.get('message').dirty) && !form.get('message').valid">Message must start with an uppercase letter, followed by lowercase letters.It must have at least 1 characters</div>
                            </div>
                            <div class="submit-button text-center">
                                <button class="btn btn-common" id="submit" type="submit" [disabled]="!form.valid">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                <div class="clearfix"></div> 
                            </div>
                        </div>
                    </div>            
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->
