<br><br><br><br><br>

<!--// Main Content \\-->
<div class="hotmeal-main-content">

    <!--// Main Section \\-->
    <div class="hotmeal-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hotmeal-error-page">
                        <div class="hotmeal-error-text">
                            <h3>404</h3>
                            <h3>Sorry ! Page Not Found</h3>
                            <p>The Link You Clicked Maybe Broken Or Page May have Been Removed</p>
                            <a href="/home" class="hotmeal-error-btn">
                                Back To Homepage <small></small>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="hotmeal-error-thumb">
                            <img src="/assets/images/error-thumb.png" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
  <br><br><br><br>
</div>
<!--// Main Content \\-->
