<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <h3>About Us</h3>
                <p class="text-justify">Healty food Restaurant is a new restaurant, food delivery and corporate catering business. Our main agenda is to provide our customers with instant Online access to their Favorite Restaurant and to process and deliver the food order to their door step or business in a professional and timely manner. We pride ourselves in our accuracy, efficiency and loyalty to our customers!
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <h3>Opening hours</h3>
                <p><span class="text-color">Monday: </span>Closed</p>
                <p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
                <p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
                <p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <h3>Contact information</h3>
                <p class="lead">Fake Street, Belgrade, Serbia, 508000</p>
                <p class="lead"><a href="#">+381 65 8475968</a></p>
                <p><a href="#"> healty-food@info.com</a></p>
                <ul class="list-inline f-social">
                    <li *ngFor="let s of socials" class="list-inline-item">
                        <a href="{{ s.href }}">
                            <i class="{{ s.icon }}" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">All Rights Reserved. &copy; 2021 <a href="#">healty food restaurant</a> Design By :
                <a href="https://html.design/">html design</a></p>
                        <p class="text-center">Autor: Vuk Zdravkovic 53/18</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->
